.cragLineChartContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr min-content;
    gap: 0 0;
    grid-template-areas:
        ". cragTitle ."
        "cragVAxisPrimary cragLineChartArea cragVAxisSecondary"
        ". cragHAxis .";
    overflow: hidden;
}
.cragLineChartArea {
    grid-area: cragLineChartArea;
    position: relative;
}
.cragLineLabel {
    position: absolute;
    text-anchor: middle;
    text-align: center;
    font-size: 12px;
    transition: all 0.7s, opacity 0s;
    padding: 1px 4px;
    left: 100%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background: #FFFFFFCC;
    border-radius: 4px;
    color: rgb(51, 51, 51);
}
.cragPoint {
    transition: all 0.4s ease;
    left: 100%;
    pointer-events: all;
    cursor: pointer;
    stroke-width: 24px;
    stroke: transparent;
    paint-order: stroke;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}
.cragPoint.--active {
    transform: scale(2, 2);
}
.cragLine {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
