.cragTitle {
    grid-area: cragTitle;
    position: relative;
    transition: all 0.8s ease;
    min-height: 10px;
}
.cragTitleText {
    margin: 0 0 16px 0;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.cragChartSubArea {
    position: absolute;
    width: 100%;
    height: 100%;
}
.cragHAxis {
    grid-area: cragHAxis;
    position: relative;
    font-size: 0;
    overflow: hidden;
    height: 20px;
    box-sizing: border-box;
    pointer-events: none;
}
.cragHAxisLabel {
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    transition: all 0.6s ease;
    padding: 2px;
    box-sizing: border-box;
    position: absolute;
    left: 100%;
    font-family: Roboto, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.cragVAxisPrimary {
    grid-area: cragVAxisPrimary;
    position: relative;
}
.cragVAxisSecondary {
    grid-area: cragVAxisSecondary;
    position: relative;
}
.cragVAxisLabel {
    position: absolute;
    box-sizing: border-box;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    transition: all 0.2s ease;
    right: 0;
    bottom: 100%;
    pointer-events: none;
    white-space: nowrap;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.cragVAxisPrimary .cragVAxisLabel {
    text-align: right;
    padding-right: 10px;
    padding-left: 4px;
}
.cragVAxisSecondary .cragVAxisLabel {
    text-align: left;
    padding-right: 4px;
    padding-left: 10px;
}
.cragAxisLineMajor {
    position: absolute;
    height: 1px;
    width: 100%;
    background: #000000;
    bottom: 0;
    transition: all 1s ease;
    opacity: 0.15;
}
.cragAxisLineMinor {
    position: absolute;
    height: 1px;
    width: 100%;
    background: #222222;
    bottom: 0;
    transition: all 1s ease;
    opacity: 0.1;
}
.cragToolTip {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 4px;
    transition: opacity 0.3s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 50%) !important;
    -moz-box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 50%) !important;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 50%) !important;
    pointer-events: none;
    font-size: 13px;
    background: #FFFFFFCC;
}
.cragToolTipLabel {
    display: inline;
    font-family: Roboto, sans-serif;
    font-size: inherit;
    padding: 4px;
    margin: 0;
    text-align: right;
    font-weight: 300;
    float: left;
    clear: left;
    color: inherit;
}
.cragToolTipValue {
    display: inline;
    font-family: Roboto, sans-serif;
    font-size: inherit;
    margin: 0;
    padding: 4px 4px 4px 8px;
    text-align: right;
    float: right;
    font-weight: 500;
    clear: right;
    color: inherit;
}
.cragToolTipSeriesName {
    display: block;
    padding: 0 4px;
    font-family: Roboto, sans-serif;
    font-size: inherit;
    margin: 0;
    font-weight: 400;
    clear: right;
    color: inherit;
}
@keyframes barber-pole {
    100% {
        background-position: 100px 0;
    }
}