<FilesMatch ".*loader.*\.js$">
    <IfModule mod_expires.c>
        ExpiresActive On
        ExpiresDefault "access plus 0 seconds"
        ExpiresByType text/javascript "modification"
    </IfModule>
</FilesMatch>
