.cragComboChartContainer {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	grid-template-rows: min-content 1fr min-content;
	gap: 0 0;
	grid-template-areas:
		". cragComboTitle ."
		"cragVAxisPrimary cragComboChartArea cragVAxisSecondary"
		". cragHAxis .";
	overflow: hidden;
}
.cragVAxisPrimary {
	grid-area: cragVAxisPrimary;
	position: relative;
	transition: all 0.8s ease;
}
.cragComboTitle {
	grid-area: cragComboTitle;
	position: relative;
	transition: all 0.8s ease;
	min-height: 10px;
}
.cragComboTitleText {
	margin: 0 0 16px 0;
    font-size: 25px;
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
}
.cragComboChartArea {
	grid-area: cragComboChartArea;
	position: relative;
}
.cragComboPoint {
	transition: all 0.4s ease;
	left: 100%;
	pointer-events: all;
	cursor: pointer;
	stroke-width: 24px;
    stroke: transparent;
    paint-order: stroke;
}
.cragComboLine {
	transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
}