.cragColumnChartContainer {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 1fr min-content;
	gap: 0 0;
	grid-template-areas:
		". cragColumnTitle"
		"cragVAxisPrimary cragColumnChartArea"
		". cragHAxis";
	overflow: hidden;
}
.cragColumnTitle {
	grid-area: cragColumnTitle;
	position: relative;
	transition: all 0.8s ease;
	min-height: 10px;
}
.cragColumnChartArea {
	grid-area: cragColumnChartArea;
	position: relative;
}