.cragProgressArea {
	position: absolute;
	width: 100%;
	height: 250px;
	margin: auto 0;
	overflow: hidden;
	transition: margin 0.13s ease-out;
}
.cragProgressTitle {
	position: absolute;
	width: 100%;
	top: 0;
	height: 50px;
	font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-align: center;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.cragProgressBar {
    width: 100%;
    height: 60px;
    background-color: #DDDDDD;
    border: 4px solid #DDDDDD;
    position: absolute;
    top: 95px;
    overflow: hidden;
    transition: border-radius 0.5s ease;
    box-sizing: border-box;
}
.cragProgressProgress {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: all 0.75s .1s ease;
    width: 0;
}
.cragProgressLine {
    width: 4px;
    position: absolute;
    transition: all 0.35s ease;
}
.cragProgressLabel {
    position: absolute;
    transition: left 0.6s, right 0.6s, color 0.4s;
    font-family: Roboto, sans-serif;
	line-height: 1;
	padding: 0 4px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 200;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.cragProgressValueLabel {
    position: absolute;
    font-size: 20px;
    transition: left 0.5s ease, right 0.5s ease;
    font-family: Roboto, sans-serif;
    line-height: 1;
	padding: 0 4px;
	box-sizing: border-box;
    font-weight: 300;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.cragProgressStripe {
    background-size: 50px 50px;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
.cragProgressInset {
    -webkit-box-shadow: inset 0 0 10px 3px rgba(123,123,123, 0.3);
    -moz-box-shadow: inset 0 0 10px 3px rgba(123,123,123, 0.3);
    box-shadow: inset 0 0 10px 3px rgba(123,123,123, 0.3);
}
.cragProgressInsetProgress {
    -webkit-box-shadow: inset 0 0 10px 3px rgba(123,123,123, 0.6);
    -moz-box-shadow: inset 0 0 10px 3px rgba(123,123,123, 0.6);
    box-shadow: inset 0 0 10px 3px rgba(123,123,123, 0.6);
}
.cragProgressStripeAnimate {
    animation: progressBarberpole 5s linear infinite;
}
@keyframes progressBarberpole {
    100% {
        background-position: 100px 100px;
    }
}