:root {
    --bg: #081b33;
    --on-bg: #FFFFFF;
    --material-blue: #1e88e5;
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
}
body {
    background-color: var(--bg);
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr 1fr;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas: "chart menu";
    width: 100%;
    height: 100%;
}
.chart {
    grid-area: chart;
    height: 100%;
    overflow: hidden;
}
.menu {
    grid-area: menu;
    color: var(--on-bg);
    height: 100%;
    width: 300px;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
    user-select: none;
    overflow-y: scroll;
    padding: 16px;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}
.menu hr {
    height: 1px;
    border: none;
    background: #BBB;
    margin: 24px 0;
}
.menu label {
    display: block;
    margin-top: 16px;
    font-size: 12px;
}
.menu h1 {
    margin: 0;
}

#shuffle {
    right: 304px;
    position: fixed;
    top: 4px;
    height: 10px;
    padding: 4px;
    filter: invert(1);
    background-color: black;
    z-index: 98;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.4s;
}
#shuffle:hover {
    transform: scale(1.5);
}

.slide-wrapper {
    position: relative;
    height: 24px;
    width: 100%;
}
.slide-wrapper::before, .slide-wrapper::after {
    display: block;
    position: absolute;
    z-index: 99;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    padding: 2px 0;
    pointer-events: none;
    font-weight: bolder;
}
.slide-wrapper::before {
    content: "+";
    right: 8px;
}
.slide-wrapper::after {
    content: "-";
    left: 8px;
}
.slide-wrapper > input[type="range"] {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 24px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    cursor: col-resize;
}
.slide-wrapper > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem var(--material-blue);
}
.slide-wrapper > input[type="range"]::-moz-range-thumb {
    border: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem var(--material-blue);
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

input[type="checkbox"] + label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 24px;
    background: rgba(0, 0, 0, 0.3);
    display: block;
    border-radius: 24px;
    position: relative;
    color: var(--on-bg);
    margin-top: 0 !important;
}

input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input[type="checkbox"]:checked + label {
    background: var(--material-blue);
}

input[type="checkbox"]:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

input[type="checkbox"]:active + label:after {
    width: 24px;
}

input[type="checkbox"]:disabled + label {
    opacity: 0.4;
    filter: grayscale();
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 100%;
    background: var(--arrow-icon) no-repeat right 8px center/22px, rgba(0, 0, 0, 0.3);
    color: var(--on-bg);
    border-radius: 3px;
    cursor: pointer;
    padding: 4px;
}
select::-ms-expand {
    display: none;
}
select:focus {
    outline: none;
}
select option {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.3);
}